<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/style3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css" integrity="sha384-29Ax2Ao1SMo9Pz5CxU1KMYy+aRLHmOu6hJKgWiViCYpz3f9egAJNwjnKGgr+BXDN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
    <div class="login">
        <div class="top">
            Увійти<br><a href="{% url "registration" %}" class="link">Зареєструватися?🤔</a>
        </div>
        <div class="inputs">
            <form action="{% url "login" %}" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <p>Error while entering form data. Please try again.</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <div class="form">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    {{ form.username }}
                </div>
                <div class="form">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    {{ form.password }}
                </div>
                <div class="btn">
                    <div></div>
                    <input type="submit" value="         Ok         ">
                    <div></div>
                    <a href=""><input type="button" name="forget" value="Забули пароль?"></a>
                    <div></div>
                </div>
            </form>
        </div>
        <div class="links">
            <img src="../../../media/images/fb.png">
            <img src="../../../media/images/g.png">
        </div>
    </div>
    <script src="../../static/script.js"></script>
</body>

</html>
