<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/style3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css" integrity="sha384-29Ax2Ao1SMo9Pz5CxU1KMYy+aRLHmOu6hJKgWiViCYpz3f9egAJNwjnKGgr+BXDN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
   <div class="login">
        <div class="top">
            Зареєструватися
        </div>
       <div class="inputs">
           <form method="post" action="{% url "registration" %}">
               {% csrf_token %}
                <div class="form">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    {{ form.username }}
                    <p>{{ form.errors.username }}</p>
                </div>
                <div class="form">
                    <div class="icon"><i class="fas fa-envelope"></i></div>
                    {{ form.email }}
                    <p>{{ form.errors.email }}</p>
                </div>
                <div class="form">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    {{ form.password1 }}
                    <p>{{ form.errors.password1 }}</p>
                </div>
               <div class="form">
                    <div class="icon"><i class="fas fa-lock"></i></div>
                    {{ form.password2 }}
                    <p>{{ form.errors.password2 }}</p>
                </div>
                <div class="btn">
                    <div></div>
                    <input type="submit" value="         Ok         ">
                    <div></div>
                    <input type="submit" value="Забули пароль?">
                    <div></div>
                </div>
            </form>
       </div>
       <div class="links">
           <img src="../../static/fb.png">
           <img src="../../static/g.png">
       </div>
   </div>
    
</body>

</html>
